<%- include("partials/header.ejs") %>
<form action="/publish" method="post">
    <button class="btn btn-lg btn-primary btn-block" type="submit">New Post</button>
</form>
<% if (locals.posts) { posts1= posts %>
    
    <% for( let index = 0; index < posts1.length; index++ ) { %>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <h3><a href="/posts/<%= posts1[index].id %>"><%= posts1[index].title %></a></h3>
            <p><%= formatDate(posts1[index].createdAt) %> </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton<%= index %>" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= index %>">
                    <li><a class="dropdown-item" href="/posts/<%= posts[index].id %>">View</a></li>
                    <li><a class="dropdown-item" href="/posts/<%= posts[index].id %>/edit">Edit</a></li>
                    <li><a class="dropdown-item" href="#" onclick="deletePost('<%= posts[index].id %>')">Delete</a></li>
                </ul>
            </div>
        </div>
    <% } %>
<% } %>


<%- include ("partials/deletePost.ejs") %> 

<%- include("partials/footer.ejs") %>
